
.menu {
	background: #0a1c30 ;
	border-radius: 8px;
}

.btb-nav-title {
	color: #0a1c30;
	font-family: 'Open Sans',sans-serif;
	background: #74bdb8;
	font-size: 14px;
	border-radius: 8px;
	padding: 4px;
	text-transform: uppercase;
	display: table-cell;
}

	.btb-nav-title b {
		padding-left: 3px;
	}

.rheader {
	font-style: italic;
}

.poweredby {
	display: none;
}

.btb-menu-items {
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
}

.btb-menu-items a {
	color: #fff;
}

.btb-nav a {
	font-size: 9px;
	line-height: 9px;
	color: #0a1c30;
}


/*Main*/

.rheader {
	background: #0a1c30;
	border-radius: 8px;
	color: #fff;
	
}

.rheader span {
		padding: 4px 10px;
		display: block;
}


.result {
	border-top: 2px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: 8px;
	margin-top: 20px;

}

.sheader {
	background: #0a1c30;
	color: #fff;
	padding: 4px;
	border-radius: 8px 8px 0 0;
}

.bibitem {
	padding-top: 10px;
	padding-bottom: 10px;
}

.lit-search {
	background: #0a1c30;
	border: 1px solid #393D46;
	margin-top: 10px;
	width: 60px;
}

.bibtitle {
	font-weight: 700;
}

.bibbooktitle {
	font-style: italic;
}

input {
	width: 95%;
}

#submit, button, input[type="submit"] {
	 border: 0;
	 background-color: #82c4c0;
	 color: #000000;
  padding: 4px 8px;
  margin-top: 5px;
  margin-left: 2px;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

  #submit:hover, button:hover, input[type="submit"]:hover {
    color: #fff;
    background-color: #0a1c30;
	cursor: pointer;
  }

#search_type {
	margin-top: 8px;
}
